body {
  /*background-color: #449866;*/
  background: -webkit-linear-gradient(45deg, #257b48, #449866, #9DD1b2, #CDEAD8);
  background: -o-linear-gradient(45deg, #257b48, #449866, #9DD1b2, #CDEAD8);
  background: -moz-linear-graident(45deg, #257b48, #449866, #9DD1b2, #CDEAD8);
  background: linear-gradient(45deg, #257b48, #449866, #9DD1b2, #CDEAD8);
}


header {
  text-align: center;
  font-family: cursive, sans-serif, fantasy;
  font-size: 30px;
  color: #218564;
  width: 600px;
  margin: 0 auto;
  padding: 1px;
}

h2{
  font-family: cursive;
  font-size: 25px;
}

section {
  color: #671F2A;
  display: inline-block;
}

#qual {
  float: left;
  margin-left: 50px;
  padding: 18px;
}

#edu {
  float: right;
  margin-right: 5px;
}


#exp {
  clear: both;
  margin-top: 25px;
  color: #671F2A;
  padding: 5px;
}

h3 {
  font-family: didot;
  font-size: 20px;
}

section > ul {
  list-style-type: circle;
}

#ten {
  margin-top: 5px;
  margin-left: 325px;
  padding-left: 100px;
  padding-right: 100px;
}
